<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Pratos do dia</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="../materialize/css/telaInicialCliente.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"></head>


    <body class="grey lighten-3">
              <!--Cabeçalho-->

              <div class="navbar-fixed">
                    <!--Menu-->
                    <nav>
                        <div class="nav-wrapper deep-orange">
                            <a href="#" class="brand-logo center"><img id="imagemLogo" src="../img/logo.png"></a>

                            <!--Icone de menu mobile-->
                            <a href="#" data-target="mobile-navbar" class="sidenav-trigger">
                                <i class="material-icons">menu</i>
                            </a>

                            <ul id="navbar-itens" class="right hide-on-med-and-down">
                                
                                <li><a href="telaInicialCliente.html">Inicio</a></li>
                                <li><a href="perfilCliente.html" >Perfil</a></li>
                                <li><a href="carrinho.html">Carrinho</a></li>
                                
                            </ul>
                        </div>

                    </nav>

              </div>

            <!--Menu mobille-->
            <ul id="mobile-navbar" class="sidenav">
                
                <li><a href="telaInicialCliente.html">Inicio</a></li>
                <li><a href="perfilCliente.html">Perfil</a></li>
                <li><a href="carrinho.html">Carrinho</a></li>
                
             </ul>

             <!--Conteúdo-->
            <main class="container-fluid"> 
              <h5 id="campoNomeRestaurante" class="center">Nome do restaurante</h5>

              <h6><b>Pratos do dia</b></h6>

              <div class="card-container">

              </div>
            </main>  
          


          <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        
           <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
            <script src = "https://www.gstatic.com/firebasejs/7.7.0/firebase-auth.js"> </script>
            <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-database.js"></script>
            <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-firestore.js"></script>
            <script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-analytics.js"></script>

        <script>
        // Your web app's Firebase configuration
        var firebaseConfig = {
            apiKey: "AIzaSyC7ZbkSF8vl0OfnTFHc0-2NaYnYa2DmZiQ",
            authDomain: "fast-tasty.firebaseapp.com",
            databaseURL: "https://fast-tasty.firebaseio.com",
            projectId: "fast-tasty",
            storageBucket: "fast-tasty.appspot.com",
            messagingSenderId: "893783669375",
            appId: "1:893783669375:web:013a96aac9824578751d4a",
            measurementId: "G-5E4WQ7WR0M"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
        </script>
        <!--Controle da tela chef-->
        <script src="../materialize/js/pratoDia.js"></script>

    </body>