<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Tela do Chef-Fast&Tasty</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="../materialize/css/telaInicialChef.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        



    <body class="grey lighten-3">

        <!--Cabeçalho-->

        <div class="navbar-fixed">
            <!--Menu-->
            <nav>
                <div class="nav-wrapper deep-orange">
                    <a href="#" class="brand-logo center"><img id="imagemLogo" src="../img/logo.png"></a>

                    <!--Icone de menu mobile-->
                    <a href="#" data-target="mobile-navbar" class="sidenav-trigger">
                        <i class="material-icons">menu</i>
                    </a>

                    <ul id="navbar-itens" class="right hide-on-med-and-down">
                        
                        <li><a href="perfilChef.html">Perfil</a></li>
                        <li>
                            <a data-target="cadastrarPratos" class="waves-effect modal-trigger">Cadastrar Pratos</a>
                        
                                <div class="modal center" id="cadastrarPratos">
                                <div class="modal-content">
                                    <h5 class="center" style="color:#fc4a1a"><b>Cadastrar Pratos</b></h5>
                                    
                                    <input id="campoNomePrato" class="">
                                    <h6 class="left">Nome do prato</h6> 
                                    <br>
                                    <input id="campoDescricao" class="">
                                    <h6 class="left">Descrição de prato&nbsp;&nbsp;</h6> 
                                    <br>
                                    <input id="campoValor" class="">
                                    <h6 class="left">Valor</h6>  
                                    <br>
                                    <img id="campoImagem" src="#">
                                    <h6 class="left">Adicionar imagem</h6>    
                                </div>
                                <div class="modal-footer">
                                    <a id="botaoCadastrar" class="btn modal-close modal-action">Cadastrar</a>
                                </div>
                            </div>
                        
                        </li>
                       <li><a href="telaComanda.html">Comanda</a></li>
                    </ul>
                </div>

            </nav>

        </div>

        <!--Menu mobille-->
        <ul id="mobile-navbar" class="sidenav">
            <li><a href="perfilChef.html">Perfil</a></li>
            <li>
                <a data-target="cadastrarPratos" class="waves-effect modal-trigger">Cadastrar Pratos</a>
            </li>
            <li><a href="telaComanda.html">Comanda</a></li>

            
        </ul>
        
       <!--Conteúdo-->
        <div class="row">
            
            <div class=" slider">
                <ul class="slides">
                    <li>
                        <img src="../img/mercado01.jpg">
                    </li>
                    <li>
                        <img src="../img/mercado.jpg">
                    </li>

                </ul>
            </div>


            <h5 class="container">
                Comandas
            </h5>


            <div class="row">
                <div class=" col s8 push-s2">
                    <ul>
                        <li class="card-panel">
                            <div class="chip">
                                <img src="">
                                
                            </div>
                       
                        </li>
                    </ul>

                </div>
            </div>

        </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

        <script src="../materialize/js/telaChef.js"></script>
                <!--firebase-->

<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
<script src = "https://www.gstatic.com/firebasejs/7.7.0/firebase-auth.js"> </script>
<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyC7ZbkSF8vl0OfnTFHc0-2NaYnYa2DmZiQ",
    authDomain: "fast-tasty.firebaseapp.com",
    databaseURL: "https://fast-tasty.firebaseio.com",
    projectId: "fast-tasty",
    storageBucket: "fast-tasty.appspot.com",
    messagingSenderId: "893783669375",
    appId: "1:893783669375:web:013a96aac9824578751d4a",
    measurementId: "G-5E4WQ7WR0M"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>

        
    </body>

</html>